wsdl/FDS_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://pad.polito.it/FDS"
	xmlns:tns="http://pad.polito.it/FDS" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="InvalidArgument" type="tns:InvalidArgument" />

	<xs:element name="Monitor" type="tns:Monitor" />

	<xs:element name="UnknownFlight" type="tns:UnknownFlight" />

	<xs:element name="UnknownFlightInstance" type="tns:UnknownFlightInstance" />

	<xs:element name="getAircrafts" type="tns:getAircrafts" />

	<xs:element name="getAircraftsResponse" type="tns:getAircraftsResponse" />

	<xs:element name="getFlight" type="tns:getFlight" />

	<xs:element name="getFlightByDepartureAirport" type="tns:getFlightByDepartureAirport" />

	<xs:element name="getFlightByDepartureAirportResponse" type="tns:getFlightByDepartureAirportResponse" />

	<xs:element name="getFlightByDestinationAirport" type="tns:getFlightByDestinationAirport" />

	<xs:element name="getFlightByDestinationAirportResponse"
		type="tns:getFlightByDestinationAirportResponse" />

	<xs:element name="getFlightInstance" type="tns:getFlightInstance" />

	<xs:element name="getFlightInstanceByDepartureDate" type="tns:getFlightInstanceByDepartureDate" />

	<xs:element name="getFlightInstanceByDepartureDateResponse"
		type="tns:getFlightInstanceByDepartureDateResponse" />

	<xs:element name="getFlightInstanceByStatus" type="tns:getFlightInstanceByStatus" />

	<xs:element name="getFlightInstanceByStatusResponse" type="tns:getFlightInstanceByStatusResponse" />

	<xs:element name="getFlightInstanceResponse" type="tns:getFlightInstanceResponse" />

	<xs:element name="getFlightInstances" type="tns:getFlightInstances" />

	<xs:element name="getFlightInstancesByFlightID" type="tns:getFlightInstancesByFlightID" />

	<xs:element name="getFlightInstancesByFlightIDResponse"
		type="tns:getFlightInstancesByFlightIDResponse" />

	<xs:element name="getFlightInstancesResponse" type="tns:getFlightInstancesResponse" />

	<xs:element name="getFlightResponse" type="tns:getFlightResponse" />

	<xs:element name="getFlights" type="tns:getFlights" />

	<xs:element name="getFlightsResponse" type="tns:getFlightsResponse" />

	<xs:element name="getPassengerByDepartureDate" type="tns:getPassengerByDepartureDate" />

	<xs:element name="getPassengerByDepartureDateResponse" type="tns:getPassengerByDepartureDateResponse" />

	<xs:element name="getPassengerByFlightID" type="tns:getPassengerByFlightID" />

	<xs:element name="getPassengerByFlightIDResponse" type="tns:getPassengerByFlightIDResponse" />

	<xs:element name="getPassengerByPrefix" type="tns:getPassengerByPrefix" />

	<xs:element name="getPassengerByPrefixResponse" type="tns:getPassengerByPrefixResponse" />

	<xs:element name="getPassengers" type="tns:getPassengers" />

	<xs:element name="getPassengersResponse" type="tns:getPassengersResponse" />

	<xs:element name="CancelledFlight" type="tns:CancelledFlight" />

	<xs:element name="FullyBookedFlight" type="tns:FullyBookedFlight" />

	<xs:element name="InvalidStatus" type="tns:InvalidStatus" />

	<xs:element name="NotBoarding" type="tns:NotBoarding" />

	<xs:element name="PassengerAlreadyRegistered" type="tns:PassengerAlreadyRegistered" />

	<xs:element name="SeatAlreadyAssigned" type="tns:SeatAlreadyAssigned" />

	<xs:element name="assignSeat" type="tns:assignSeat" />

	<xs:element name="assignSeatResponse" type="tns:assignSeatResponse" />

	<xs:element name="cancelFlightInstance" type="tns:cancelFlightInstance" />

	<xs:element name="cancelFlightInstanceResponse" type="tns:cancelFlightInstanceResponse" />

	<xs:element name="changeBoardingGate" type="tns:changeBoardingGate" />

	<xs:element name="changeBoardingGateResponse" type="tns:changeBoardingGateResponse" />

	<xs:element name="changeDelay" type="tns:changeDelay" />

	<xs:element name="changeDelayResponse" type="tns:changeDelayResponse" />

	<xs:element name="getBoardedPassengers" type="tns:getBoardedPassengers" />

	<xs:element name="getBoardedPassengersResponse" type="tns:getBoardedPassengersResponse" />

	<xs:element name="registerPassenger" type="tns:registerPassenger" />

	<xs:element name="registerPassengerResponse" type="tns:registerPassengerResponse" />

	<xs:element name="startBoarding" type="tns:startBoarding" />

	<xs:element name="startBoardingResponse" type="tns:startBoardingResponse" />

	<xs:complexType name="flight">
		<xs:sequence>
			<xs:element name="departureAirport" type="xs:string" />
			<xs:element name="departureTime" type="tns:time" />
			<xs:element name="destinationAirport" type="xs:string" />
			<xs:element name="number" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="time">
		<xs:sequence>
			<xs:element name="hour" type="xs:int" />
			<xs:element name="minute" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UnknownFlight">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InvalidArgument">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Monitor">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAircrafts">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAircraftsResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:aircraftType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="aircraftType">
		<xs:sequence>
			<xs:element name="seat" type="xs:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="model" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPassengerByPrefix">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="prefix" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPassengerByPrefixResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:passenger" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="passenger">
		<xs:sequence>
			<xs:element name="boarded" type="xs:boolean" />
			<xs:element name="departureDate" type="xs:dateTime" />
			<xs:element name="flightID" type="tns:FlightIDType" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="seat" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UnknownFlightInstance">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPassengers">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="flightID" type="tns:FlightIDType" />
			<xs:element name="departureDate" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPassengersResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:passenger" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightInstances">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightInstancesResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:flightInstance"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="flightInstance">
		<xs:sequence>
			<xs:element name="aircraft" type="tns:aircraftType" />
			<xs:element name="date" type="xs:dateTime" />
			<xs:element name="delay" type="xs:int" />
			<xs:element name="departureGate" type="xs:string"
				minOccurs="0" />
			<xs:element name="flightID" type="tns:FlightIDType"/>
			<xs:element name="status" type="tns:flightInstanceStatus" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightInstance">
		<xs:sequence>
			<xs:element name="flightID" type="tns:FlightIDType" />
			<xs:element name="departureDate" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightInstanceResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:flightInstance" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightByDestinationAirport">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="destinationAirport" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightByDestinationAirportResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:flight" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightInstanceByDepartureDate">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="departureDate" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightInstanceByDepartureDateResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:flightInstance"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightInstancesByFlightID">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="flightID" type="tns:FlightIDType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightInstancesByFlightIDResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:flightInstance"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPassengerByFlightID">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="flightID" type="tns:FlightIDType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPassengerByFlightIDResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:passenger" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightInstanceByStatus">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="status" type="tns:flightInstanceStatus" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightInstanceByStatusResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:flightInstance"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPassengerByDepartureDate">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="departureDate" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPassengerByDepartureDateResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:passenger" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlights">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
		</xs:sequence>

	</xs:complexType>

	<xs:complexType name="getFlightsResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:flight" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlight">
		<xs:sequence>
			<xs:element name="flightID" type="tns:FlightIDType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:flight" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightByDepartureAirport">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="departureAirport" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getFlightByDepartureAirportResponse">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="return" type="tns:flight" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="changeBoardingGate">
		<xs:sequence>
			<xs:element name="flightID" type="tns:FlightIDType" />
			<xs:element name="departureDate" type="xs:dateTime" />
			<xs:element name="gate" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="changeBoardingGateResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="cancelFlightInstance">
		<xs:sequence>
			<xs:element name="flightID" type="tns:FlightIDType" />
			<xs:element name="departureDate" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cancelFlightInstanceResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="getBoardedPassengers">
		<xs:sequence>
			<xs:element name="pageNumber" type="xs:int" />
			<xs:element name="flightID" type="tns:FlightIDType" />
			<xs:element name="departureDate" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getBoardedPassengersResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:passenger" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="lastPage" type="xs:boolean" />
			<xs:element name="pageNumber" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="changeDelay">
		<xs:sequence>
			<xs:element name="flightID" type="tns:FlightIDType" />
			<xs:element name="departureDate" type="xs:dateTime" />
			<xs:element name="delay" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="changeDelayResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="assignSeat">
		<xs:sequence>
			<xs:element name="passengerName" type="xs:string" />
			<xs:element name="flightID" type="tns:FlightIDType" />
			<xs:element name="departureDate" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="assignSeatResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:boardingInfo" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="boardingInfo">
		<xs:sequence>
			<xs:element name="delay" type="xs:int" />
			<xs:element name="departureDate" type="xs:dateTime" />
			<xs:element name="flightID" type="tns:FlightIDType" />
			<xs:element name="gate" type="xs:string" minOccurs="0" />
			<xs:element name="passengerName" type="xs:string" />
			<xs:element name="seat" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SeatAlreadyAssigned">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FullyBookedFlight">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="startBoarding">
		<xs:sequence>
			<xs:element name="flightID" type="tns:FlightIDType" />
			<xs:element name="departureDate" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="startBoardingResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="CancelledFlight">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InvalidStatus">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="registerPassenger">
		<xs:sequence>
			<xs:element name="flightID" type="tns:FlightIDType" />
			<xs:element name="departureDate" type="xs:dateTime" />
			<xs:element name="passengerName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="registerPassengerResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="NotBoarding">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PassengerAlreadyRegistered">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="flightInstanceStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ARRIVED" />
			<xs:enumeration value="BOARDING" />
			<xs:enumeration value="BOOKING" />
			<xs:enumeration value="CANCELLED" />
			<xs:enumeration value="CHECKINGIN" />
			<xs:enumeration value="DEPARTED" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="FlightIDType">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[A-Z]{2}[0-9]{1,4}" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>

